body {
  font-family: monospace;
  background-color: #000;
  color: #fff;
  margin: 0;
}

.header {
  background-color: grey;
  margin: 0 0 2rem 0;
  padding: 0.4rem 1rem;
}

.menu {
  display: inline-block;
  cursor: pointer;
  color: yellow;
  margin-right: 1.5rem;
}

.active {
  border-bottom: 1px solid yellow;
}

.menu:last-child {
  margin-right: 0;
}

.section {
  margin: 1rem 1rem 2rem;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}
.bodytext {
  margin-left: 0.5rem;
  font-size: 1rem;
}

.yellow {
  color:  yellow;
}

button {
  margin-left: 1.5rem;
  padding: 0.2rem 1rem;
  min-width: 10rem;
  border-radius: 4rem;
  background-color: #fff;
  border-collapse: #fff;
  color: #000;
  box-shadow: none;
}

button:hover {
  padding: 0.3rem 1.1rem;
  background-color: #000;
  border-color: #fff;
  color: #fff;
  box-shadow: none;
  
}

table {
  border-collapse: collapse;
  font-size: 1rem;
  margin-left: 0.5rem;
  max-width: 26rem;
  width: 100%;
}
thead {
  font-size: 1.2rem;
  background-color: lightgray;
  color: black;
}

th, td {
  padding: 0.3rem 0.5rem;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #fff;
  color: #000;
}

form {
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}